.loginRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer{
    background-color: white;
    justify-content: center;
    align-items: center;

}

.formHead{
    background-color: #2c3e50;
}