<div class="row registerRow mt-5">
    <div class="col-4 registerContainer p-0 m-0">
        <div class="formHead">
            <h4 class="p-3 text-white">Register</h4>
         </div>
        <form class="p-3" [formGroup]="itemForm">
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control" formControlName="fullName">
                <!-- <span class="text-danger" *ngIf="itemForm.get('fullName')?.hasError('required') && itemForm.get('fullName')?.touched">
                  Full Name is required.
                </span> -->
                <span class="text-danger" *ngIf="fullName.hasError('required') && (fullName.touched||fullName.dirty)">
                    Full Name is required.
                </span>
                  <span class="text-danger" *ngIf="fullName.hasError('minlength') && (fullName.touched||fullName.dirty)">
                    Full Name must be at least 5 characters long.
                  </span>
            </div>
            <div class="form-group mt-3">
                <label>Email address</label>
                <input type="email" class="form-control" formControlName="email">
                <small id="emailHelp" class="form-text text-muted" >We'll never share your email with anyone else.</small>
                <span class="text-danger" *ngIf="email.hasError('required') && (email.touched||email.dirty)">
                    Email is required.
                  </span>
                  <span class="text-danger" *ngIf="email.hasError('minlength') && (email.touched||email.dirty)">
                    Email must be at least 5 characters long.
                  </span>
                  <span class="text-danger" *ngIf="email.hasError('pattern') && (email.touched||email.dirty)">
                    Invalid email address.
                  </span>
            </div>
            <div class="form-group mt-2">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="passwordHash">
                <span class="text-danger" *ngIf="passwordHash.hasError('required') && (passwordHash.touched||passwordHash.dirty)">
                    Password is required.
                  </span>

                  <span class="text-danger" *ngIf="passwordHash.hasError('minlength') && (passwordHash.touched||passwordHash.dirty)">
                    Password must be at least 5 characters long.
                  </span>
            </div>

            <div class="form-group mt-2">
              <label>Confirm Password</label>
              <input type="password" class="form-control" formControlName="confirmPassword">
              <span class="text-danger" *ngIf="confirmPassword.hasError('required') && (confirmPassword.touched||confirmPassword.dirty)">
                  Confirm password is required.
                </span>
                <span class="text-danger" [ngStyle]="{'display':repeatPass}">
                  Password and confirm password did not match.
                </span>
          </div>
            <button class="btn btn-primary mt-3" (click)="register(itemForm.value)" [disabled]="!itemForm.valid">Submit</button>
        </form>
    </div>
</div>
