<div class="row registerRow">
    <div class="col-12 registerContainer m-0">
        <div class="formHead">
            <h4 class="p-3 text-white">{{ dialogData ? 'Edit' : 'Add' }} Product</h4>
         </div>
        <form class="p-3" [formGroup]="itemForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name">
                <span class="text-danger" *ngIf="name.hasError('required') && (name.touched||name.dirty)">
                    Name is required.
                  </span>

                  <span class="text-danger" *ngIf="name.hasError('minlength') && (name.touched||name.dirty)">
                    Name must be at least 5 characters long.
                  </span>
         
            </div>
            <div class="form-group mt-3">
                <label>Description</label>
                <input type="email" class="form-control" formControlName="description">
        
                <span class="text-danger" *ngIf="description.hasError('required') && (description.touched||description.dirty)">
                    Description is required.
                  </span>

                  <span class="text-danger" *ngIf="description.hasError('minlength') && (description.touched||description.dirty)">
                    Description must be at least 5 characters long.
                  </span>
            </div>
            <div class="form-group mt-2">
                <label>Image Url</label>
                <input type="text" class="form-control" formControlName="imageUrl">
                <span class="text-danger" *ngIf="imageUrl.hasError('required') && (imageUrl.touched||imageUrl.dirty)">
                    Image Url is required.
                  </span>
                  <span class="text-danger" *ngIf="imageUrl.hasError('minlength') && (imageUrl.touched||imageUrl.dirty)">
                    Image Url must be at least 5 characters long.
                  </span>
            </div>
            <div class="form-group mt-2">
                <label>Category</label>
            <select class="form-select mt-2" formControlName="categoryId">
                <option selected value="0">--Select Category--</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
              </select>
              <span class="text-danger" *ngIf="categoryId.hasError('min') && (categoryId.touched||categoryId.dirty)">
                Select Category
              </span>
          </div>
            <button class="btn btn-primary mt-3" (click)="onSaveOrUpdate()" [disabled]="!itemForm.valid">Submit</button>
        </form>
    </div>
</div>

