.registerRow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
  
}

.registerContainer{
    background-color: white;
    justify-content: center;
    align-items: center;

}

.formHead{
    background-color: #2c3e50;
}